  html {
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  img {
    max-width: 100%;
  }

  body {
    font-family: 'font', sans-serif;
  }

.heading {
    color: red;
}

#heading{
    color:blue;
}
.main-content {

  font-family: Arial, Verdana, sans-serif;

  display: flex;

  flex-direction: column;

  align-items: center;

  justify-content: center;

  min-height: 100vh;

  color: #fff;

  background-color: #070217;
}

.link-one {
  display: inline-block;
  margin-bottom: 50px;
}

.link-two {
  font-weight: 700;
  font-size: 18px;
  background-color: #3f2aff;
  display: inline-block;
  padding: 24px 49px;
  transition-duration: .3s;
  position: relative;
  top:0;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
}

.link-two:hover{
  background-color: #1606a7;
  box-shadow: 0 5px 0 #f3f;
  top: 2px;
}
.link-two:active{
  top: 5px;
  background-color: #3f2aff;
  box-shadow:none ;
}

.link-block {
  margin-bottom: 50px;
}

.link-block:hover{
  color: rgb(177, 221, 221);
}

.link-block:active{
  color: aqua;
}



.link-download{
  top: -6px;
  left: -30px;
  position: absolute;
} 

.link-two:not(:last-child) {
  margin-right: 25px;
}

.link-tree {
  font-weight: 700;
  font-size: 18px;
  color: #3f2aff;
  background-position: left center;
  background-repeat: no-repeat;
  
  position: relative;
  z-index: 2;
  transition-property: background-color, color;
  transition-duration: .3s, .3s;
  transition-timing-function: ease-in-out;
  outline: none;
  z-index: 1;
}


.link-tree::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f3f;
  border-radius: 10px;
  display: none;
  width: 370px;
  height: 38px;
  transform: scaleX(0);
  transition: transform .3s;
  z-index: -1;
}


.link-tree:focus:not(:active)::after{
  top: -8px;
  left: -30px;
  display: block;
  transform: scaleX(1);
  outline: none;
}


.link-tree:hover {
  color: rgb(177, 221, 221);
  cursor: pointer;
  
}

.link-tree:active {
  color: aqua;
}

.container {
  margin: 0 auto;
  padding: 80px 0;
  width: 1170px;
}

.title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  color: #333;
}

.paragraph  {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #333;
  margin: 0;
  margin-bottom: 40px;
  width: 872px;
}

.parent  {
  border-radius: 20px;
  padding: 30px;
  background-color: #f3f3f3;
  background-position: right center;
  background-repeat: no-repeat;
}

.parent-block {
  border-radius: 20px;
  padding: 30px;
  background-color: #f3f3f3;
  background-position: right center;
  background-repeat: no-repeat;
}
.parent-block:not(:last-child) {
margin-bottom: 40px;
}

.image-1 {
  background-image: url("../img/decorate-1.png");
}

.image-2 {
  background-image: url("../img/decorate-2.png");
}
.content-radius {
  border-radius: 20px;
  padding: 50px 95px;
  width: 100%;
  font-weight: 700;
  font-size: 30px;
  color: #fff;
  background-color: #3f2aff;
}

.picture {
  display: inline-block;
  margin-top: 0;
  margin-left: 0px;
  margin-bottom: 40px;
  width: 872px;
  font-size: 0;
}

.picture figcaption {
  border: 1px solid #b6b6b6;
  border-top: none;
  padding: 19px 0 19px 0;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

.img.picture {
  margin-bottom: 40px;
}

.subtitle-one {
  margin: 0;
  margin-bottom: 10px;
  font-size: 40px;
  line-height: 46px;
  color: #333;
}

.subtitle-two{
  margin: 0;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #333;
}

p.cite {
  width: 692px;
  margin-bottom: 10px;
}

ul {
  padding-left: 15px;
  margin: 0px;
}
li:not(:last-child) {
  margin-bottom: 20px;
}
.link-list {
  border-bottom: 1px solid #3f2aff;
  font-size: 20px;
  color: #3f2aff;
}
